<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-12 order-last order-lg-first" style="text-align:center;margin: 0 auto;">
        <ul class="list-inline">
          <li class="list-inline-item" style="font-size:1.1em;"><!--<a href="https://www.tiktok.com/@chatswithjesus">TikTok</a> &bull; <a href="https://rumble.com/user/chatswithjesus">Rumble</a> &bull; --> <b>Need Prayer?</b> Phone or Text: (623) 323-8645<br/>Email: <a href="mailto:hello@godspace.io">hello@godspace.io</a><br/>Visit Our Online Church: <a href="https://godspace.io/">GodSpace.io</a> based in Phoenix, Arizona. 
            </li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>