<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.tiktok.com/@chatswithjesus">TikTok</a> &bull; <a href="https://rumble.com/user/chatswithjesus">Rumble</a> &bull; Need Prayer? Phone or Text: (623) 323-8645, Email: <a href="mailto:hello@chatswithjesus.io">hello@chatswithjesus.io</a>. Phoenix, Arizona. 
            </li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>