{{ define "hero" }}
<div class="container-fluid">
  <div class="row">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function(){
          var words = ["Awesome", "Good", "Great", "Love"];
          var index = Math.floor(Math.random() * (words.length));
          document.querySelector("#heroMessage").textContent = words[index];
        }, 1000)
      });
    </script>

    <div class="home-hero-background" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.85) 100%), url('/images/lightstock_95620_web.jpg');">
        <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
        <h1 class="mt-0">God is <span id="heroMessage">___</span>!</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">Find Real LIFE &#128477;</p>
          <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}book/your-purpose/" role="button">Learn How &rsaquo;&rsaquo;</a>
        </div>
      </div>
    </div>
  
  </div>
</div>
{{ end }}

{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <a href="/docs/book/your-purpose"><h2 class="h4">&#127757; Your Purpose &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
          <a href="/docs/book/what-is-love"><h2 class="h4">&#128149; What is Love? &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
          <a href="/docs/book/freedom-in-christ"><h2 class="h4">&#128262; Finding Freedom &rsaquo;</h2></a>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <a href="/docs/book/god-is-simple"><h2 class="h4">&#128161; God is Simple &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
          <a href="/docs/book/gospel-good-news"><h2 class="h4">&#11088; Good News &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
          <a href="/docs/book/know-true-enemy"><h2 class="h4">&#127919; Who is Your Real Enemy &rsaquo;</h2></a>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <a href="/docs/book/end-times-community"><h2 class="h4">Finding Real Community &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
          <a href="/docs/book/final-test"><h2 class="h4">&#127942; The Real Test of Life &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
          <a href="/docs/book/why-evil"><h2 class="h4">&#128520; Why Evil? &rsaquo;</h2></a>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <a href="/docs/book/lost-or-lonely"><h2 class="h4">Feeling Lost or Lonely? &rsaquo;</h2></a>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-5">
        </div>
      </div>
    </div>
  </section>

  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
